.navbar-brand {
    background-color: #4c4e50;
    color: #ffffff !important;
    font-size: 1.5rem;
    margin-left: 2em;
    position: relative;
    bottom:.7rem;
}
.navbar {
    background-color: #4c4e50;
    height: 6rem;
    margin: 0;
    display: flex;
    align-items: center;
}
.btn.btn-secondary,
#switch_user {
    left:60em;
    display: inline-block;
}

#nav_flexbox{
display: flex;
}
.btn.btn-outline-light,
#refresh_button{
    display: inline-block;
      position: relative;
    left: .4rem;
}
.btn.btn-outline-light,
#refresh_timer_button{

    display: inline-block;
}

#delay_selection{
    position: relative;
    left: .4rem;
    top: 0rem;
    display: inline-block;
}

.daikin_logo {
    position: relative;
    left:62em;
    display: block;
    align-items: center;
}